.public-container{
	position: relative;
	width:1100px;
	margin: 0 auto;
}

.public-header{
	height: 110px;
}

.public-footer{
	height: 217px;
	background: #3b3b3b;
	padding-top: 100px;
	margin-top: 200px;
}

body{
	font-family: "Microsoft Yahei";
}