.public-header .header-logo{
	float: left;
	width: 181px;
	height: 54px;
	margin-top: 39px;
	background-image: url(../Image/header-logo.png);
}

.public-header .header-nav{
	float:right;

}

.public-header .header-nav .item{
	float:left;
	font-size: 14px;
	margin-left: 46px;
	margin-top: 47px;
}

.public-header .header-nav .item a{
	color:#3b3b3b;
}

.public-footer .footer-col{
	float:left;
	width:230px;
	margin-right: 60px;
	color:#fff;
	font-size: 16px;
	line-height:1.8;
}

.public-footer .footer-col-last{
	margin-right: 0px;
}

.public-footer .footer-logo{
	width: 182px;
	height: 55px;
	margin-top: -16px;
	margin-bottom: 17px;
	background-image: url(../Image/footer-logo.png);
}

.index-banner .banner-bg{
	height: 569px;
	overflow: hidden;
}

.banner-bg img{
	margin: 0 auto;
}

.index-banner{
	position: relative;
}

.index-banner .banner-content{
	position: absolute;
	left: 50%;
	top:205px;
	margin-left: -388px;
}

.index-banner .banner-logo{
	width: 776px;
	height: 117px;
	background-image: url(../Image/banner-logo.png);
}

.index-banner .banner-info{
	color:#fff;
	font-size: 16px;
	text-align: center;
}

.index-banner .banner-info .line{
	display: inline-block;
	width:40px;
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.index-menu{
	position: relative;
}

.index-menu > .line{
	position: relative;
	border-top: 4px solid #f34949;
}

.index-menu .line .menu-txt{
	position: absolute;
	left:50%;
	top:0px;
	margin-left: -78px;
	font-size: 20px;
	color: #fff;
	width: 156px;
	height: 71px;
	background: #f34949;
	text-align: center;
	line-height: 60px;
}

.index-menu .line .menu-txt:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 11px solid #fff;
}

.index-menu .menu-list{
	margin-top: 152px;
}

.index-menu .menu-list .list-item{
	float: left;
	width: 520px;
	margin-right: 85px;
	margin-bottom: 56px;
}

.index-menu .menu-list .list-item .line{
	float: left;
	border-top: 1px solid #e3e1e1;
	width: 194px;
	margin-top: 10px;
}

.index-menu .menu-list .list-item .price{
	float: right;
	font-size: 16px;
	color:#555555;
	margin-right: 27px;
}

.index-menu .menu-list .list-item .title{
	float: left;
	width: 230px;
	overflow: hidden;
}

.index-menu .menu-list .list-item .title h4{
	font-size: 16px;
	color:#555555;
}

.index-menu .menu-list .list-item .title .comment{
	font-size: 12px;
	color: #d1d1d1;
	margin-top: 5px;

}

.index-menu .menu-list ul{
	width: 1210px;
}

.index-menu .load-more{
	position: absolute;
	left:50%;
	margin-left: -66px;
	margin-top: 33px;
	padding-left: 16px;
	border: 1px solid #d7d5d5;
	width: 132px;
	height: 34px;
	color:#b7b7b7;
	font-size: 14px;
	line-height: 34px;
}

.index-menu .load-more .load-more-line{
	margin-left: 14px;
}

.index-menu .load-more .load-more-icon{
	display: inline-block;
	width: 11px;
	height: 7px;
	background-image: url(../Image/load-more-btn.png);
	margin-left: 11px;
}

.food-pics{
	margin-top: 268px;
	margin-bottom: 200px;
}

.food-pics ul{
	float: left;
	margin-top:78px;
}

.food-pics .btn-group{
	font-size: 0;
	float: right;
}

.food-pics .btn-group .btn{
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 11px;
	background: #dedede;
	border-radius: 50%;
}

.food-pics .btn-group .active{
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 11px;
	background: #9b9b9b;
	border-radius: 50%;
}

.index-panel .food-pics-line{
	float: left;
	width: 200px;
	border-top:1px solid #e5e3e3;
	margin-top: 13px;
	margin-left: 19px;
}

.index-panel h3{
	float: left;
	font-size: 20px;
	text-shadow: 1px 2px 1px #93E1E1;
}

.food-pics .food-item{
	float:left;
	width: 230px;
	margin-right: 60px;
}

.food-pics .food-item .banner{
	height: 202px;
	margin-bottom: 28px;
	box-shadow: -1px 2px 8px 1px #9C9C9C;
}


.food-pics .food-item .price{
	float: right;
}

.food-pics .food-item .star-bar{
	margin-top: 11px;
	font-size: 0;
}

.food-pics .food-item .star-bar .star{
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-image: url(../Image/star.png);
}

.food-pics .food-item .star-bar .nostar{
	background-position: 0 -14px;
}

.food-pics .index-pannel-body ul{
	width: 1160px;
}

.index-gallery .index-pannel-body{
	overflow: hidden;
	margin-top: 130px;
	box-shadow: -3px 4px 5px 1px #9C9C9C;
}

.index-gallery .index-pannel-body .gallery-col{
	float: left;
	height: 381px;
}

.index-gallery .index-pannel-body .col-m{
	width: 354px;
}

.index-gallery .index-pannel-body .col-s{
	width: 288px;
}

.index-gallery .index-pannel-body .col-l{
	width: 458px;
}
